h1{
    background-image: url(/apple-pie/images/apple-pie.jpg);
    color: #ffffff;
    padding: 275px;
    text-align: center;
    font-size: 100px;
}

section-1 > p{
    text-align: center;
    font-size: 40px;
    margin: 80px 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.receipe-info{
   margin-left: 0vw;
   display: flex;
   justify-content: center;
   padding: 50px;
}

.divisor-line{
    border-top: 7px solid;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 60px;
    color: grey;
}

h2{
    margin-left: 100px;
    margin-top: 50px;
    font-size: 50px;
    font-weight: bolder;
}

ul{
    list-style: "- ";
    margin-left: 105px;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
}
ol > li{
    margin-left: 105px;
    font-size: 1.5em;
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight:lighter;
    padding-bottom: 10px;
}

section-3> p{
    background-image: url(/french-soup/images/soup.jpg);
    color: white;
    padding: 275px;
    text-align: center;
    font-size: 100px;
}